html,
body {
  width: 100vw;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

html.edit,
html.edit body {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
}

.material-tooltip {
  z-index: 99999 !important;
}

.modal-overlay {
  z-index: 100000 !important;
}

.modal.open {
  z-index: 100001 !important;
}

code,
pre,
.CodeMirror-line {
  font-family:
    "M+ 1m",
    "mplus-1m-regular",
    monospace !important;
}
